<link rel="stylesheet" href="/css/css.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<div id="mySidebar" class="sidebar">
  <div class="left-logo">
      <a href="/" class="left-logo">
      <img src="/img/ez.jpg" class="logo">
      <h4>ทีมงานez</h4>
      </a>
      <a href="javascript:void(0)" class="closebtn close" onclick="closeNav()">×</a>
  </div>
  <hr class="text-white">
  <div class="p-3">
    <a class="btn btn-outline-light form-control mb-2" href="/">หน้าหลัก</a>
    <a class="btn btn-outline-light form-control mb-2" href="/">ผลงาน</a>
    <a class="btn btn-outline-light form-control mb-2" href="/">ติดต่อ</a>
  </div>
  <div class="showuser border-top border-bottom">
    <p>Name : <%= sessions.name %></p>
    <p>Username : <%= sessions.username %></p>
  </div>
  <div class="text-center p-3">
      <%- sessions.inout %>
  </div>
  <div class="mt-2 text-center p-3 text-white">
    <%- sessions.reg_show %>
  </div>
  <div class="text-center">
    <p class="text-white">passapol@passapol</p>
  </div>
</div>

<nav class="skicky-top p-1 shadow">
  <div class="d-flex justify-content-between">
    <a class="btn btn-light" href="#" onclick="openNav()">เปิดเมนู</a>
    <% if(sessions.name != ''){ %>
      <a href="/" class="btn btn-dark">คุณ : <%= sessions.name %></a>
    <% } %>
  </div>
</nav>
<script>
function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>