<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="/img/ez.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/ez.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <style>
      .none{
        display: none;
      }
      .block{
        display: block;
      }
    </style>
</head>
<body>
  <%- include('navbar',{sessions:sessions}) %>
    <div class="bg-dark text-white">
        <% for(var i=0;i < Bam.length;i++ ){%>
        <button onclick="openAnswer('<%= i %>')" class="none p-3 btn btn-outline-info shadow mt-2 w-100">
            <div>
                <p><%= Bam[i] %></p>
            </div>
        </button>
        <div id="answer<%= i %>" class="code-container none">
          <img class="w-100" src="/img/problemSolving/<%= i+1 %>.png" alt="problemSolving">
          </div>
        <% } %>
    </div>


  <script>
    function openAnswer(id){
      const answer = document.getElementById('answer'+id)
      if(answer.classList[1]=='none'){
        answer.classList = 'code-container block';
      }else{
        answer.classList = 'code-container none';
      }
    }
  </script>  
  
</body>
</html>